In [ ]:
#3.1
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

def fetch_data(query):
    # Connect to your MySQL database. Replace with your actual database credentials.
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='Password',
        database='creditcard_capstone'
    )
    data = pd.read_sql_query(query, connection)
    connection.close()
    return data

def plot_highest_transaction_type_count():
    query = """
    SELECT TRANSACTION_TYPE, 
    COUNT(*) AS count
    FROM CDW_SAPP_CREDIT_CARD
    GROUP BY TRANSACTION_TYPE
    ORDER BY count DESC
    """
    data = fetch_data(query)
    fig = px.bar(data, x='TRANSACTION_TYPE', y='count', title='Transaction Types with Highest Counts')
    
    fig.update_layout(
        xaxis_title='Transaction Type',
        yaxis_title='Count',
        xaxis_tickangle=0
    )
    fig.show()

def main():
    plot_highest_transaction_type_count()

if __name__ == "__main__":
    main()

#3.2
import plotly.express as px
import pandas as pd

# Placeholder for the fetch_data function
def fetch_data(query):
    # You should replace this with the actual implementation
    # For now, it returns a sample DataFrame for demonstration purposes
    data = {
        'State': [
            'New York','Georgia', 'Philadepha', 'Florida', 'Illinois', 'New Jersey', 'Maryland', 'California', 
            'Ohio', 'Michigan', 
        ],
        'Number of Customers': [
            96, 73, 72, 64, 58, 53, 50, 45, 44, 44
        ]
    }
    return pd.DataFrame(data)

def plot_top_10_with_highest_number_of_customers():
    query = """
    SELECT cust_state AS State, COUNT(*) AS 'Number of Customers'
    FROM cdw_sapp_customer
    GROUP BY cust_state
    ORDER BY COUNT(*) DESC
    LIMIT 50
    """
    data = fetch_data(query)
    
    # Debug: Print the fetched data
    print(data)
    
    # Ensure there are at least 10 entries
    if len(data) < 10:
        raise ValueError("Not enough data to plot the top 10 states.")
    
    top_10_data = data.nlargest(10, 'Number of Customers')
    
    # Debug: Print the top 10 data
    print(top_10_data)
    
    fig = px.bar(top_10_data, x='State', y='Number of Customers', title='Top 10 States with the highest number of customers')

    fig.update_layout(
        xaxis_title='State',
        yaxis_title='Number of Customers',
        xaxis_tickangle=-45
    )

    fig.show()

def main():
    plot_top_10_with_highest_number_of_customers()

if __name__ == "__main__":
    main()


#3.3
import pandas as pd
import plotly.express as px
import mysql.connector  # Import the MySQL connector

def fetch_data(query):
    # Connect to your MySQL database. Replace with your actual database credentials.
    conn = mysql.connector.connect(
        host='localhost',
        user='root',
        password='Password',
        database='creditcard_capstone'
    )
    try:
        data = pd.read_sql_query(query, conn)
    except Exception as e:
        print(f"An error occurred: {e}")
        data = None
    finally:
        conn.close()
    return data

def plot_top_10_customers_by_transaction_value():
    query = """
    SELECT CUST_SSN, SUM(TRANSACTION_VALUE) as total
    FROM CDW_SAPP_CREDIT_CARD
    GROUP BY CUST_SSN
    ORDER BY total DESC
    LIMIT 10
    """
    data = fetch_data(query)
    if data is not None and not data.empty:
        customer_names = [
            'Ty Daly', 'Jessie Boucher', 'Phoebe Martin', 'Thurman Vera', 'Bret Perkins',
            'Joesph Mcclain', 'Aurelia Haas', 'Marcelo Emerson', 'Alexis Villarreal', 'Christina Snow'
        ]
        
        # Ensuring that we map the names correctly to the data
        if len(data) == len(customer_names):
            data['customer_name'] = customer_names
        else:
            print("The number of customer names provided does not match the number of records retrieved.")
            return

        fig = px.bar(data, x='total', y='customer_name', orientation='h',
                     labels={'total':'Total Transaction Value', 'customer_name':'Customer Name'},
                     title='Top 10 Customers by Transaction Value')
        fig.update_traces(hovertemplate='Customer: %{y}<br>Total Transaction Value: %{x}')
        fig.show()
    else:
        print("No data available to plot.")

def main():
    # plot_highest_transaction_type_count()
    # plot_top_10_with_highest_number_of_customers()
    plot_top_10_customers_by_transaction_value()

if __name__ == "__main__":
    main()